/* Ngayogyan Font oleh Apri Nugroho */
@font-face {
    font-family: 'ngayogyan';
    src: url('https://raw.githubusercontent.com/adityarahmanda/aksara-jawa-webfont/main/fonts/ngayogyan.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/adityarahmanda/aksara-jawa-webfont/main/fonts/ngayogyan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Amukti Palapa Font oleh Team Prada */
@font-face {
    font-family: 'amuktipalapa';
    src: url('https://raw.githubusercontent.com/adityarahmanda/aksara-jawa-webfont/main/fonts/amuktipalapa.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/adityarahmanda/aksara-jawa-webfont/main/fonts/amuktipalapa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

